/* style for the chat box   */
#chat_box {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
#chat-heading {
  /* border: solid 2px red; */
  text-align: center;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-size: 30px;
  /* font-weight: bold; */
  color: rgba(255, 255, 255, 1.0);
  background-color: blue;
}
/* The popup chat - hidden by default */
.chat-popup {
  display: block;
  position: fixed;
  bottom: 80px;
  right: 35px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 15px 15px grey;
  z-index: 9;
  padding: 2px 15px 15px 15px;
  width: 400px;
}
#signonbox {
  background-color: rgba(255, 255, 255, 1.0);
  width: 250px;
  border: none;
  width: 400px;

}

.hide-section {
  visibility: hidden;
}
#chat-window {
  width: 75%;
}
#openChatBtn {
  background-color: rgba(0, 0, 255, 0.788);
  width: 125px;
  height: 40px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  bottom: 65px;
  right: 150px;
  position: fixed;
  z-index: 15;
  box-shadow: 24, 24, gray;
}
#openChatBtn:hover {
  background-color: rgb(0, 0, 255);
  width: 155px;
  height: 50px;
  
}
.chat-minimize {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 10;
}
#myChat {
  background-color: rgba(242, 242, 242, 0.7);
  padding: 0;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.5);
}
#chat-window {
  /* border: 2px solid #f1f1f1; */
  width: 100%;
  color: black;
  height: 200px;
  /* font-size: 12px; */
}
.msg-handle {
  overflow: hidden;
  /* text-align: right; */
  /* padding-right: 10px; */
  font-weight: bold; 
  font-size: 14px;
  color: green; 
}
.systmMsgs .msg-handle {
  color: red;
}
.myMsgs .msg-handle  {
  color: blue;
}
.chat-message {
  text-align: left;
  padding: 1px;
  font-size: 13px;
  list-style-type: none;
}
.messages {
 overflow-y: scroll; 
 margin-left: 0; 
 padding-left: 15px;
}


.message.typing .messageBody {
  color: #555;
}
.username {
  overflow: hidden;
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
}
/* Input */
/* Add styles to the form container */
.form-container {
  max-width: 100%;
  padding: 25px;
  /* background-color: white; */
}

/* Full-width textarea */
.form-container .inputMessage {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 0.5px solid rgb(150, 150, 150);
  border-radius: 10px;
  background: #dfdfdf;
  resize: none;
  height: 65px;
}

.form-container .inputMessage:hover {
  border: 1px solid black;
  background-color: #dfdfdf;
}

/* When the textarea gets focus, do something */
.form-container inputMessage:focus {
  background-color: #ffffff;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 49%;
  height: 50px;
  margin-bottom:10px;
  opacity: 0.7;
}

.joinChatInput {
  font-size: x-large;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}
.send {
  background-color: rgb(5, 158, 5);
  /* border: ; */
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
#enter_btn {
  /* position: fixed; */
margin-left: 50%;
}
/* 
    Project Code Name:    'Kaity'
    Title:                'Ole Talk'
    Version:               1.2.1
*/