
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
.col-12 {
    padding: 0;
    margin: 0;
    width:100%;
}
.menuContainer {
    margin-top: 0;
    padding-top: 0;
}
#heading {
    background-color: white;
    padding-top: 0;
    margin: 0;
    border: 0;
    /* margin-bottom: 0; */
}
h1 {
    color: blue;
    padding-left: 50px;
    padding-top: 0;
    padding-bottom:0;
    margin-bottom: 0;
    font-size: 50px;
    text-align: center;
}

nav {
    padding-top: 0;
    margin-top: 0;
}
#navbar a {
   /* align-content: right; */
   display: inline;
   text-decoration: none;
   color: white;
   padding-left: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
}
.container {
    margin: 0;
    padding: 0;
}

#game-container {
    /* margin-right: 30%;  */
    width: 70%;
    /* margin-top: 100px; */
}
.screen {
    border: 5px solid black;
    /* margin-top: 75px; */
        /* margin-left: 15px; */
}
#game_board {
    border: 5px solid black; 
    /* margin-top: 75px; */
    /* background-color: darkolivegreen; */
    /* margin-left: 15px; */
}
h3 {
    text-align: center;
}
.w3-sidebar {
    width: 30%;
    /* top: 400px; */
    left: 800px;
    /*padding-right: 250px; */
    margin-right: 15px; 
}
.w3-card-4 {
    width: 100%;
}
.navbutton {
    background-color: white;
    color: blue;
    border: none;
}
.navbutton:hover {
    /* font-weight: bold; */
    background-color: white;
    color: blue;
    border-bottom: 2px solid blue;
}
.function-buttons {
    margin-bottom: 5px;
}
.hand {
    margin-bottom: 5px;
}
footer div p {
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 0px;
    width: 100%;
    font-size: 8px;
}
#controlPanel {
    margin-right: 5px;
    position: fixed;
    right: 400px;
    top: 150px;
    height: 350px;
    width: 250px;
    z-index: 3;
}
#copyright {
    position: fixed;
    bottom: 0;
    width: 100%;
}